[toolchain]
package_manager = "yarn"

[features]
upgradeable = true
resolution = true
skip-lint = false

[programs.mainnet]
meat_coin = "92vGubKf8dDMF99AnQ4eLbaByujKBSyCAQ6WwDgt7P6k"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "mainnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
